#   NOTE: see this for more information:
#   https://www.packer.io/docs/templates/hcl_templates/variables
#
floating_ip_id  = "TheIdOfYourFloatingIp" # use `openstack floating ip list` cmd to see the list of IPs
key_pair        ="cloud-key-pair"
network_id      = "234-234-221-some-network"
network_name    ="change-this-network-name"
password        ="password_of_user"
ssh_key_file    ="name-of-ssh-key"